# ------------------------------------------------------------------------------
# Storage
# ------------------------------------------------------------------------------

storage/logs/**
!storage/logs/.*
storage/export/**
storage/framework/views/**/*.php
storage/framework/cache/**/*
storage/framework/sessions/**/*
!storage/framework/views/.*
!storage/framework/cache/.*
!storage/framework/sessions/.*

# ------------------------------------------------------------------------------
# Libraries
# ------------------------------------------------------------------------------

/node_modules

# ------------------------------------------------------------------------------
# IDE & Dev env
# ------------------------------------------------------------------------------

Homestead.json
Homestead.yaml

.idea
_ide_helper.php
.phpstorm.meta.php

# ------------------------------------------------------------------------------
# Docker
# ------------------------------------------------------------------------------

docker-mount-point
stdout
dump.rdb

# ------------------------------------------------------------------------------
# Env vars
# ------------------------------------------------------------------------------

.env
.env.production
