# ------------------------------------------------------------------------------
# Libraries
# ------------------------------------------------------------------------------

/vendor
/node_modules

# ------------------------------------------------------------------------------
# Storage
# ------------------------------------------------------------------------------

/public/storage
/public/hot
/storage/*.key

# ------------------------------------------------------------------------------
# IDE & Dev env
# ------------------------------------------------------------------------------

.idea
myshop.iml
Homestead.json
Homestead.yaml

# ------------------------------------------------------------------------------
# Env vars
# ------------------------------------------------------------------------------

.env
.env.production

# ------------------------------------------------------------------------------
# Docker
# ------------------------------------------------------------------------------

docker-mount-point/**
!docker-mount-point/.*
stdout
dump.rdb
